{% load static %}

<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Libros</title>
</head>
<body>
    <div class="grid-container">
        <div>
            <h3>Libros favoritos</h3>
        </div>
        <div class="grid-x grid-margin-x" style="margin-top: 2em;">
            <!-- primer bloque pantalla blog -->
            <div class="cell small-12 large-8">
    
                <!-- bloque de buscador -->
                <form class="input-group" method="GET"> {% csrf_token %}
                    <input class="input-group-field" type="text" id="kword" name="kword" placeholder="Buscar ...">
                    <div class="input-group-button">
                      <input type="submit" class="button" value="Buscar">
                    </div>
                </form>
                <!-- FIN bloque de formulario -->
    
                <!-- inicio bloque de resultados de busqueda -->
                <div class="grid-x grid-margin-x">
                    {% for libro in libros|dictsort:'titulo' %}
                    <div class="cell small-6 large-4">
                        <div class="card" style="width: 100%;">
                            <h4>{{ libro.titulo }}</h4>
                            <h5>{{ libro.autor }}</h5>
                            <h6>{{ libro.editorial }}</h6>
                            <img src="{{ libro.portada.url }}" style="height: 120px; width:min-content;">
                        </div>
                    </div>
                    {% empty %}
                    <h5 style="color: red;">No se encontraron resultados</h5>
                    {% endfor %}
                </div>
                <!-- FIN bloque de resultados de busqueda -->
    
            </div>
            <!-- FIN primer bloque pantalla blog -->
    
    
            <!-- inicio del segundo bloque - filtro por categorías -->
            <div class="cell small-12 large-4" style="position: fixed; right: 20%; top: 150; height: 100%; width: 200px;">
                <!-- inicio del segundo bloque - autores -->
                <h4>Autores</h4>
                <ul class="vertical menu" style="max-height: 200px; overflow-y: auto;">
                    {% for libro in libros|dictsort:'autor.nombre' %}
                        {% ifchanged libro.autor %}
                            <li><a href="?autor={{ libro.autor.id }}">{{ libro.autor }}</a></li>
                        {% endifchanged %}
                    {% endfor %}
                    <p></p>
                </ul>
                <!-- inicio del tercer bloque - editorial -->
                    <h4>Editoriales</h4>
                <ul class="vertical menu" style="max-height: 200px; overflow-y: auto;">
                    {% for libro in libros|dictsort:'editorial.nombre_editorial' %}
                    <!-- Ifchanged hace filtro para eliminar duplicados -->
                        {% ifchanged libro.editorial %}
                            <li><a href="?editorial={{ libro.editorial.id }}">{{ libro.editorial.nombre_editorial }}</a></li>
                        {% endifchanged %}
                    {% endfor %}
                </ul>
            </div>
            <!-- FIN del bloque - filtro por categorías -->
        
        </div>
    </div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>